{% extends 'html/index.html' %}

{% block headers %}
    <title>Certificates and Awards</title>
    {% load static %}
{% endblock %}

{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <h2 class="mb-6">Certificates</h2>
                    <ul class="fa-ul mb-0">
                        {% for certificate in certifications %}
                            <li>
                                <a href="{% url 'certificate_file' certificate.id %}">
                                    <i class="fa-li fa fa-certificate text-warning"></i>
                                </a>
                                {{certificate.institution}} - {{certificate.title}}
                             <span class="text-primary">{{ certificate.date_month_year }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
               {% comment %}
               <div class="col-md-6 col-sm-6">
                    <h2 class="mb-6">Awards</h2>
                    <ul class="fa-ul mb-0">
                        {% for award in awards %}
                            <li>
                                <a href="{% url 'award_file' award.id %}">
                                    <i class="fa-li fa fa-trophy text-warning"></i>
                                </a>
                                {{award.institution}} - {{award.title}}
                            <span class="text-primary">{{ award.date_month_year }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endcomment %}
            </div>
        </div>
    </section>
{% endblock %}
