{% extends 'html/index.html' %}

{% block headers %}
    <title>Dossier</title>
    {% load static %}
{% endblock %}

{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="container">
            <div class="row">
                <h2 class="mb-5">Dossier</h2>
            </div>
            <div class="row">
                {% for dossier in dossiers %}
                    <div class="col-md-6 col-sm-6 portfolio-item">
                        <img class="img-fluid" src="{{ dossier.image.url }}" alt="">
                        <div class="portfolio-caption">
                            <h3 class="mb-0">{{ dossier.title }}</h3>
                            <div class="mb-3">{{ dossier.institution }}</div>
                            <span class="text-primary">{{ dossier.date_month_year }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}