{% extends 'html/index.html' %}

{% block headers %}
    <title>Experience</title>
    {% load static %}
{% endblock %}

{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="container">
            <div class="row">
                <h2 class="mb-5">Experience</h2>
            </div>
            <div class="row">
                {% for experience in experiences %}
                    <div class="col-md-6 col-sm-6 portfolio-item">
                            {% if experience.image %}
                                <img class="img-fluid" src="{{ experience.image.url }}" alt="">
                            {% endif %}
                            <div class="portfolio-caption">
                                <h3 class="mb-0">{{ experience.title }}</h3>
                                <div class="mb-3">{{ experience.sub_title }}</div>

                            <p class="wrap-space">{{ experience.description }}</p>
                            <span class="text-primary">{{ experience.begin_date_month_year }} - {{ experience.end_date_month_year }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}