.container-bar {
    width: 60%;

}

.li-bar {
    position: relative;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.li-bar:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #F5DEB3;
    border-radius: 1000px;
}

.li-bar:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0%;
    height: 15px;
    background-color: #104E8B;
    border-radius: 1000px;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.li-bar.animated:after {
    animation-name: new_width;
}

@keyframes new_width {
    to{
        width: var(--my-percentage-var);
    }
}
